.DS_Store
__pycache__/
*.pyc
/.vscode
venv/
*.xml*
flaskr/gpx_test_Files/sort_gpx/
geckodriver.log

terry*

*~
*.swp
*.json
*.gpx

bike.py

instance/
.cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/