{% extends 'base.html' %}

{% block body %}

<h2>{{ title }}</h2>

<h4>What does Cadence Calculator do?</h4>
<p>Cadence calculator automatically generates cadence data to your Strava activities by analyzing your GPS data. Learn how to you can use it <a href='/setup'>here</a>.</p>

<h4>Who made this?</h4>
<p>Cadence Calculator was developed by <a href='https://walkercsutton.com'>Walker Sutton</a>.</p>

<h4>Contact</h4>
<a href='mailto:info@cadecalc.app'>info@cadecalc.app</a>

<h4>Your data</h4>
<p>We only store your Strava user id, bike names, and gear ratios your provides.</p>

<h4>Delete my data</h4>
<p>If at any point, you would like your data deleted, send us an <a href='mailto:info@cadecalc.app'>email</a> and we can help you.</p>

<h4>aaaaaaaaaaa</h4>
<p>aaaaaaaaaaa</p>

{% endblock %}
