{% extends 'base.html' %}

{% block body %}

<h2>{{ title }}</h2>

<ul>
    <h4>Strava Account Configuration</h4>
    <li><a href='#connect-to-strava'>Connecting your Strava account</a></li>
    <li><a href='#revoke-access'>Revoking Access</a></li>
    <h4>Setting Gear Ratios</h4>
    <li><a href='#set-gear-ratio'>Addng your gear ratio</a></li>
    <li><a href='#default-gear-ratios'>Using default gear ratio</a></li>
    <li><a href='#update-gear-ratio'>Updating gear ratio</a></li>
    <li><a href='#'>title</a></li>
</ul>

<h4><a id='connect-to-strava'>Connecting your Strava account</a></h4>
<ol>
    <li>connect your Strava account</li>
    <li></li>
</ol>

<h4><a id='revoke-access'>Revoking access</a></h4>
<p>If you ever want to stop using Cadence Calculator, follow these steps:</p>
<ol>
    <li>connect your Strava account</li>
    <li></li>
</ol>

{% endblock %}
