{% extends 'base.html' %}

{% block body %}

<h2>{{ title }}</h2>

<h4>What does Cadence Calculator do?</h4>
<p>Cadence calculator automatically generates cadence data for your fixed gear Strava activities by analyzing your GPS data. Learn how to you can use it <a href='/help'>here</a>.</p>

<h4>Who made this?</h4>
<a href='https://walkercsutton.com'>Walker</a>

<h4>Your data</h4>
<p>We store just enough data for things to work and nothing more. If you revoke access, we will remove all of your data from our servers.</p>

<h4>Contact</h4>
<p>If you have any questions, comments, concerns, suggestions, etc., please send them here: <a href='mailto:info@cadecalc.app'>info@cadecalc.app</a></p>

{% endblock %}
