{% extends 'base.html' %}

{% block body %}

<h2>{{ title }}</h2>

{% if title == 'Ride On!' %}
<p>
    Successfully connected your Strava account!
    </br>
    Click <a href='/help'>here</a> to learn how to use Cadence Calculator.
</p>
{% elif title == 'Bad Credentials' %}
<p>
    The email and password you provided is invalid.
    </br>
    Please try again.
</p>
{% elif title == 'Wrong User' %}
<p>
    The email and password you provided are for a different Strava account.
    </br>
    Please try again.
</p>
{% elif title == 'Error Accessing Strava' %}
<p>
    There was an error accessing Strava.
    </br>
    Please try again.
</p>
<div id='strava-connect' class='center round-border'>
    <a href={{ auth_url }}>
        <img src={{ url_for('static', filename='images/btn_strava_connectwith_orange.svg' ) }}
            alt='Connect with Strava'>
    </a>
</div>
</br>
<p>
    If you continue to have trouble logging in, please <a href="mailto:info@cadecalc.app">send us an email</a>.
</p>
{% elif title == 'One More Step!' %}
<p>
    Successfully authorized Strava API access.
    </br>
    </br>
    We also need to store your Strava account credentials for <a href="/strava-api-snag" target="_blank">unfortunate
        reasons</a>.
    </br>
    </br>
    We encrypt your email and password using <a href="https://github.com/fernet/spec/blob/master/Spec.md">Fernet</a> (an
    implementation of symmetric authenticated cryptography) to securely store your data. If you ever <a
        href="/help#revoke-access">revoke access</a> to Cadence Calculator through your Strava account, we will promptly
    delete your credentials.
</p>
{% elif title == "Oops, You'll Need to Retry That" %}
<p>
    We need more access to your Strava account.
    </br>
    You probably forgot to check a box. The image below shows you how to grant all the necessary permissions.
</p>
<div id='strava-connect' class='center round-border'>
    <a href={{ auth_url }}>
        <img src={{ url_for('static', filename='images/btn_strava_connectwith_orange.svg' ) }}
            alt='Connect with Strava'>
    </a>
</div>
</br>
<img class='gif' src={{ url_for('static', filename='images/auth.gif' ) }} alt='Give more permissions'>
{% elif title in ('Try Again', 'Something Went Wrong') %}
<p>
    You should try again from the beginning.
</p>
<div id='strava-connect' class='center round-border'>
    <a href={{ auth_url }}>
        <img src={{ url_for('static', filename='images/btn_strava_connectwith_orange.svg' ) }}
            alt='Connect with Strava'>
    </a>
</div>
</br>
<p>
    If you continue to have troubles, please <a href="mailto:info@cadecalc.app">send us an email</a>.
</p>
{% else %}
<p>
    Something really went incredibly wrong.
    </br>
    You should try again from the beginning.
</p>
<div id='strava-connect' class='center round-border'>
    <a href={{ auth_url }}>
        <img src={{ url_for('static', filename='images/btn_strava_connectwith_orange.svg' ) }}
            alt='Connect with Strava'>
    </a>
</div>
</br>
<p>
    If you continue to have troubles, please <a href="mailto:info@cadecalc.app">send us an email</a>.
</p>
{% endif %}

{% if title in ('One More Step!', 'Bad Credentials', 'Wrong User') %}
</br>
<div class='center center-text'>
    <form method="POST" action="/auth">
        {{ form.hidden_tag() }}
        {{ form.email.label }}
        </br>
        {{ form.email }}
        {% if form.email.errors %}
        <ul class="errors">
            {% for error in form.email.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </br>
        </br>
        {{ form.password.label }}
        </br>
        {{ form.password }}
        {% if form.password.errors %}
        <ul class="errors">
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </br>
        </br>
        <input type="submit" value="Verify Credentials">
    </form>
</div>
{% else %}
{% endif %}

{% endblock %}