{% extends 'base.html' %}

{% block body %}

<h2>{{ title }}</h2>

{% if status == 'good creds' %}

<p>
    Successfully complete all steps for connecting your Strava account! Ride away!</br>Click <a href='/help'>here</a> to
    learn how the tool works.
</p>

{% elif status == 'bad creds' %}
<p>the email and password you provided are invalid. please try again</p>
<p>getting here if creds are good but wrong athlete TODO need to fix</p>
<form method="POST" action="/auth">
    {{ form.hidden_tag() }}
    {{ form.email.label }}{{ form.email }}
    {% if form.email.errors %}
    <ul class="errors">
        {% for error in form.email.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {{ form.password.label }}{{ form.password }}
    <ul class="errors">
        {% if form.password.errors %}
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <input type="submit" value="Verify">
</form>

{% elif status == 'strava error' %}
<p>There was an error, try again. If you continue to have issues, send us an email TODO</p>

{% elif status == 'good scope' %}
<p>
    Completed step 1/2 of connecting Strava account. One more step!
</p>
<form method="POST" action="/auth">
    {{ form.hidden_tag() }}
    {{ form.email.label }}{{ form.email }}
    {% if form.email.errors %}
    <ul class="errors">
        {% for error in form.email.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {{ form.password.label }}{{ form.password }}
    <ul class="errors">
        {% if form.password.errors %}
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <input type="submit" value="Verify">
</form>
{% elif status == 'bad scope' %}
<p>
    You need to provide more access, try again
</p>
<a class='underline' href={{ auth_url }}>
    Authorize Cadence Calculator access to your Strava data
</a>
<h3>
    TODO - replace gif with gif showing how to provide all permissions needed
</h3>
<img class='gif' src={{ url_for('static', filename='images/auth.gif' ) }} alt='Give more permissions'>

{% elif status == 'bad form' %}
<p>you are missing some values in the form. try again</p>
<form method="POST" action="/auth">
    {{ form.hidden_tag() }}
    {{ form.email.label }}{{ form.email }}
    {% if form.email.errors %}
    <ul class="errors">
        {% for error in form.email.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {{ form.password.label }}{{ form.password }}
    <ul class="errors">
        {% if form.password.errors %}
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <input type="submit" value="Verify">
</form>
{% elif status == 'unknown' %}
<p>something went wrong. :(</p>
{% else %}
<p>something really went incredibly wrong. :(</p>
{% endif %}

{% endblock %}