{% extends 'base.html' %}

{% block body %}

<h2>{{ title }}</h2>

<h4><a href='#strava-account-configuration'>Strava Account Configuration</a></h4>
<ul>
	<li><a href='#connect-to-strava'>Connecting your Strava account</a></li>
	<li><a href='#revoke-access'>Revoking Access</a></li>
</ul>

<h4><a href='#configure-gear-ratios'>Configure Gear Ratios</a></h4>
<ul>
	<li><a href='#set-gear-ratio'>Setting your gear ratio</a></li>
	<!-- <li><a href='#default-gear-ratio'>Using default gear ratio</a></li> -->
	<!-- <li><a href='#update-gear-ratio'>Updating gear ratio</a></li> -->
	<!-- <li><a href='#'>title</a></li> -->
</ul>

<u>
	<h2>
		<a id='strava-account-configuration'>Strava Account Configuration</a>
	</h2>
</u>

<h4><a id='connect-to-strava'>Connecting your Strava account</a></h4>
<ol>
    <li>Go to <a href='/'>https://cadecalc.app</a></li>
    <li>Click the <em>Connect with Strava</em> button at the bottom of the page</li>
    <li>Grant Cadence Calculator access to your data</li>
	<li>and that's it! Make sure you know how to <a href='#set-gear-ratio'>set your gear ratio</a></li>
</ol>

<h4><a id='revoke-access'>Revoking access</a></h4>
<p>If you ever want to stop using Cadence Calculator, follow these steps:</p>
<ol>
    <li>Go to <a href='https://www.strava.com/settings/apps'>https://www.strava.com/settings/apps</a></li>
    <li>Find Cadence Calculator in your list of connected apps and click <em>Revoke Access</em></li>
</ol>

<u>
	<h2>
		<a id='configure-gear-ratios'>Configure Gear Ratios</a>
	</h2>
</u>

<h4><a id='set-gear-ratio'>Setting your gear ratio</a></h4>
<ol>
    <li>Add your gear ratio to the descrtiption of your Strava activity. It needs to be in the top line of the description formatted like: <em>"[chainring size]x[cog size]"</em></li>
	<br/>
	Example:
	<img class='wide-gif' src='https://i.imgur.com/IkKttqQ.png' alt='gear ratio formatting example' />
</ol>
<!-- <h4><a id='default-gear-ratio'>Using default gear ratio</a></h4>
<p>If you ever want to stop using Cadence Calculator, follow these steps:</p>
<ol>
    <li>connect your Strava account</li>
    <li></li>
</ol>

<h4><a id='update-gear-ratio'>Updating gear ratio</a></h4>
<p>If you ever want to stop using Cadence Calculator, follow these steps:</p>
<ol>
    <li>connect your Strava account</li>
    <li></li>
</ol> -->

{% endblock %}
